<header>
  <nav
    class="navbar navbar-expand-lg navbar-light bg-light justify-content-between"
  >
    <div class="container">
      <span class="navbar-brand mb-0 h1">ClubHouse</span>
      <div class="navbar-nav" style="gap: 8px">
        <% if(!currentUser) { %>

        <a class="btn btn-primary" data-toggle="modal" data-target="#loginModal"
          >Login</a
        >
        <a
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#signUpModal"
          >Sign Up</a
        >
        <% } else { %> <% if(!currentUser.is_member){ %>
        <a class="btn btn-primary" href="/join">Join Club</a>
        <% } if(currentUser.is_member && !currentUser.is_admin) { %>
        <a class="btn btn-primary" href="/admin">Become an Admin</a>
        <%} %>
        <a
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#messageModal"
          >New Message</a
        >
        <a class="btn btn-primary" href="members/logout">Logout</a>
        <% } %>
      </div>
    </div>
  </nav>
</header>
